/* Font Butterfly Kids */
    .butterfly-kids-regular {
        font-family: "Butterfly Kids", cursive;
        font-weight: 400;
        font-style: normal;
    }

    /* Font Bagel */
    .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    }

  .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  
    .national-park {
      font-family: "National Park", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }

    /* Make background fixed, no body scrolling */
    html, body {
      height: 100%;
      overflow: auto; /* stop the body from scrolling */
      margin: 0;
      font-family: monospace;
      background: url('images/bakery-bg.jpeg') no-repeat center fixed; 
      background-size: cover;
      background-color: #fae8ed;
      scrollbar-color: #f0afcd transparent;
      color: #b89368;
    }

    .header, .footer {
      height: 150px;
      width: 100%;
      color: transparent;
    }
    .header { position: relative; top: 0; }
    .footer {position: relative; top: 300px;}

    .wrapper {
      position: relative;
      left: 50%;  
      transform: translateX(-50%);
      height: 895px;
      border-radius: 30px;
      z-index: 0;
      position: relative;
    }

    .box {
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: visible;
    }

    #box1 {
        grid-area: 1 / 1 / 4 / 9;
    }


  .navigation {
    position:absolute;
    top: 10px;
    width: 100%;
    height: 60px;
    background-size: cover;
    background-position: center; 
    z-index: 5;
  }

  .nav-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 50px;
      position: relative; /* create new stacking context */
      z-index: 5;         /* above the GIFs */
    }

    .nav-button {
      all: unset;
      width: auto;
      height: 40px;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: left;
      font-family: sans-serif;
      font-size: 14px;
      cursor: pointer;
      position: relative;
      z-index: 6;
      font-family: 'Courier New', Courier, monospace;
    }

  .nav-button:hover{
    font-weight: bold;
  }


.main {
  background: url('images/crisscross-bgrid.png') repeat center;
  background-color: #e9dab9;
  height: auto;
  position: relative;
  width: 750px;
  margin: 0 auto; /* center horizontally */
  margin-top: 60px;
  overflow: visible;
  border-radius: 20px;
  border: dotted 4px #5f4412;
  box-shadow: -5px 5px 4px rgba(0,0,0,0.25);
  font-family: "Sour Gummy", sans-serif;
  transition: all 0.5s ease;
}

  .main title{
    color: #5f4412;
  }

  .welcome{
    height: 100px;
    text-align: center;
    margin: 40px 0px 10px 0;
  }

  .welcome h1{
    line-height: 35px;
    margin: 80px 0 10px 0;
    font-size: 35px;
    font-weight: 500;
  }

  .welcome p{
    font-size: 17px;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
  }

  .menu{
    padding: 0 60px; 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 68px;
  }

  .menu button{
    padding: 2%;
    display: flex;
    all: unset;
    height: 110px;
    width: 110px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth animation */
  }

  .menu button:hover {
    transform: scale(1.1); /* Enlarge to 120% */
  }

  #b1{
    background: url(images/cafe-home1.png) no-repeat center;
    background-size: contain;
  }

  #b2{
    background: url(images/cafe-home2.png) no-repeat center;
    background-size: contain;
  }

  #b3{
    background: url(images/cafe-home3.png) no-repeat center;
    background-size: contain;
  }

  #b4{
    background: url(images/cafe-home4.png) no-repeat center;
    background-size: contain;
  }

  .menu-labels{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 20px;
    padding: 0 70px; 
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 110px;
    font-family: 'Courier New', Courier, monospace;
  }

  .menu-labels p{
    display: flex;
    width: 100px;
  }

/* Optional: style the section content */
.menu-section {
  margin: 10px 30px 30px;
  padding: 10px;
  overflow-y: auto;
  border-radius: 30px;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
  height: auto;
  /* background: url(images/cafe_inner_bg.png); */
  border: #5f4412 1px solid;
  box-shadow: 2px 1px 2px 2px rgb(0 0 0 / 20%);
  height: 570px;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  overflow: auto;
}

.menu-section-inner{
  /* height: 700px; */
  height: auto;
  width: auto;
  overflow: auto;
}

.menu-section-inner-inner{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(9, 75px);
    grid-template-rows: repeat(8, 70px); 
}

.menu-section-title{
  grid-area: 1 / 3 / 2 / 8;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 30px, 50px;
}

.bread{
  margin-top: 60px;
  width: 100px;
  height: 100px;
}

#expand-section {
  max-height: 0;
  overflow: hidden;
  margin: 0 0 30px 0;
  padding-top: 0;
  opacity: 0;
  justify-content: center;
  transition: max-height 1s ease, opacity 1s ease;
}

/* when expanded */
#expand-section.expanded {
  max-height: 720px; /* or use content-dependent values via JS */
  padding:0;
  opacity: 1;
  justify-content: center;
}

.title1{
  font-size: 30px;
}

.title1{
  justify-content: center;
  text-align: center;
  font-family: "National Park", sans-serif;
  margin-top: 20px;
}

.menu-item{
  padding: 10px;
  margin: 15px;
  background: #fff;
  height: 85%;
  width: auto;
  border-radius: 20px;
  box-shadow: 2px 1px 2px 2px rgb(0 0 0 / 20%);
}

.menu-item-img{
  width: 170px;
  height: 170px;
}

#img1{
  background: url(images/breakfast1.JPG) no-repeat center;
  background-size:cover;
  border-radius: 15px;
}

/* img{
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 15px;
} */

.item-title{
  height: 20px; 
}

.item-title p{
  margin-top: 5px;
  font-family: "Sour Gummy", sans-serif;
}