/* Font Butterfly Kids */
    .butterfly-kids-regular {
        font-family: "Butterfly Kids", cursive;
        font-weight: 400;
        font-style: normal;
    }

/* Font Bagel */
    .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    }
A
  .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    body, html {
      position:relative;
      padding: 0;
      font-family: monospace;
      background: url('images/bggrid-transp.png') repeat center;
      background-color: #eef8ff;
      scrollbar-color: #f0afcd transparent;
    }

    .header, .footer {
      height: 90px;
      width: 100%;
      color: transparent;
    }
    .header { position: relative; top: 0; }
    .footer { position: absolute; top: 620px; height: 70px;}


    .wrapper {
      left: 50%;  
      transform: translateX(-50%);
      width: 315px; height: 522px;
      background: #ebeaea;
      box-shadow: 
      1.5px 1.5px 0.75px rgba(0, 0, 0, 0.55),
      -1.5px  -1.5px 0.75px rgba(255, 255, 255, 0.7);
      z-index: 0;
      position: relative;
      scrollbar-color: #00000062 transparent;
      scrollbar-width: thin; 
      overflow: hidden; 
    }


    .box {
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 7.5px;
      overflow: visible;
    }

  .nav-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 5.25px;
    position: relative;
    z-index: 5;
  }

  .nav-button {
    all: unset;
    width: auto;
    height: 30px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: sans-serif;
    font-size: 9px;
    cursor: pointer;
    position: relative;
    z-index: 6;
  }

  .nav-button:hover{
    font-weight: bold;
  }

  .navigation-bar{
    width: 307.5px;
    padding: 3.75px;
  }

  #title{
    display: flex;
    flex-direction: row;
    height: 15px;
    background-color: #fff0f7;
  }

  #title p{
    text-indent: 7.5px;
    margin: 3.75px 0 3.75px 0;
  }

  #navigation{
    width: 296.25px;
    margin-left: 5.25px;
    height: 22.5px;
    border-bottom: solid #9e9c9c;
  }

  .nav-button u{
    margin: 0;
  }

  .titlebtns{
    align-items: center;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 52.5px;
    right: 0px;
    height: 15px;
    gap: 4.5px;
    cursor: pointer;
  }

  .titlebtn {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    justify-content: center;
    background: #ebeaea;
    width: 12.75px;
    height: 12.75px;
    box-shadow: 
      -1.5px -1.5px 0.75px rgba(0, 0, 0, 0.55) inset,
      1.5px  1.5px 0.75px rgba(255, 255, 255, 0.7) inset;
    font-size: 7.5px;
  }

  .titlebtn p{
    margin: 0;
  }

  .profile{
    font-family: "Roboto Mono";
    height: 187.5px;
    width: 307.5px;
    padding: 3.75px;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(8, 38.25px);
    grid-template-rows: repeat(5, 37.5px);
  }

  .profile p{
    margin: 0;
    font-size: 9px;
  }

  .usrname{
    grid-area: 1 / 2 / 2 / 3;
  }

  .pfp{
    grid-area: 1 / 1 / 3 / 4;
    margin: 15px 15px 15px 18.75px;
    border-radius: 50%;
    background: url(images/pfp.jpg);
    background-size: contain;
    height: 67.5px;
    width: 67.5px;
  }

  .followers{
    grid-area: 1 / 4 / 3 / 9;
    margin: 22.5px 15px 7.5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22.5px;
  }

  .follower-count{
    font-size: 10.5px;
    text-align: center;
  }

  .follower-count p{
    margin: 0;
  }

  .bio{
    grid-area: 3 / 1 / 5 / 9;
    margin: 22.5px 7.5px 7.5px 11.25px;
  }
  
  .bio p{
    font-size: 10.5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .follow-btns{
    grid-area: 5 / 1 / 6 / 9;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .follow-btn{
    width: 135px;
    height: 22.5px;
    box-shadow: 
      -1.5px -1.5px 0.75px rgba(0, 0, 0, 0.55) inset,
      1.5px  1.5px 0.75px rgba(255, 255, 255, 0.7) inset;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #following{
    background-color: #cccfd3;
  }

  .follow-btns p{
    font-size: 10.5px;
    margin-top: 3.75px;
    margin-bottom: 0;
  }

  .box {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2.25px;
    overflow: visible;
  }

  .content{
    margin: 7.5px 7px 15px 7px;
    height: 210px;
    display: grid;
    scrollbar-color: #c0c0c0 transparent;
    scrollbar-width: thin; 
    overflow: auto; 
    grid-template-columns: repeat(3 , 96px);
    grid-template-rows: repeat(9, 96px);
  }

  .music-name,
  .artist-name{
    height: 12.75px;
    font-size: 9px;
    text-align: center;
    text-transform: capitalize;
    margin: 6px 7.5px 7.5px 7.5px;
  }

  .song-slider {
    position: relative;
    width: 150px;
    height: 15px;
  }

  .seek-bar {
    position: absolute;
    left: 36px;
    top: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    overflow: hidden;
    height: 3.75px;
    border-radius: 7.5px;
    background-color: #bebebe;
    cursor: pointer;
    z-index: 6;
  }

  .seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 3.75px;
    height: 11.25px;
    background: #777777;
    box-shadow: -300px 0 0 300px #3d3d3d;
  }

  .current-time,
  .song-duration {
    width: 210px;
    position: absolute;
    margin: none;
    top: 7.5px;
    font-size: 7.5px;
  }

  .song-duration{left: 105px;width: 30px;}
  .current-time{left: 0px;}

  .controls{
    width: 45px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
  }

  .play-button{
    position:relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ebeaea;
    cursor: pointer;
    border: none;
  }

  .play-button span{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    width: 2px;
    height: 8px;
    border-radius: 0.75px;
    background: #885c44;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-button span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-button.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-button.pause span:nth-child(1){
    width: 26.25%;
    height: 33.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


.btn{
    position: relative;
    width: 11.25px;
    height: 11.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #ebeaea;
}

#forwardbutton{
    position: absolute;
    height: 11.25px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#backbutton{
    position: absolute;
    height: 11.25px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#song-bar{
  box-shadow: 
  -1.5px -1.5px 1.5px rgba(0, 0, 0, 0.25) inset,
  1.5px  1.5px 1.5px rgba(255, 255, 255, 0.45) inset;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: 292.5px;
  display: flex;
  flex-direction: row;
}

.marquee{
  overflow: hidden;
  position: relative;
  left: 0px;
  width: 90px;
}

#marquee-content p{
  display: inline;
  margin: 6px 0 7.5px 0 ;
}

.marquee-content {
  transform: translateX(70%);
  top: 3px;
  position:relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 0.75rem;
  width: 255px;
  animation: marquee-move-text 100s linear infinite;
  animation-play-state: paused;
}

.marquee-content.play{
  animation-play-state: running;
}

button.backwardbutton,
button.forwardbutton{
  z-index: 9;
}

@keyframes marquee-move-text{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-1000%);
  }
}


.hidden {
  display: none;
}

.post {
  position: fixed;
  left: 50%;  
  transform: translateX(-50%);
  width: 315px; height: 522px;
  top: 100px;
  background: #ebeaea;
  box-shadow: 
  1.5px 1.5px 0.75px rgba(0, 0, 0, 0.55),
  -1.5px  -1.5px 0.75px rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  opacity: 0;
  pointer-events: none;
}

.post.visible {
  opacity: 1;
  pointer-events: auto;
}

.post.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.post-content {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

#post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 7.5px;
  box-shadow: 0 0 7.5px rgba(0,0,0,0.5);
}

.close-post {
  background: none;
  border: none;
  font-size: 11.25px;
  cursor: pointer;
  color: #444;
}

#photo1{
  background: url("images/gallery11.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo2{
  background: url("images/hobbies2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo3{
  background: url("images/gallery20.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo4{
  background: url("images/gallery5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo5{
  background: url("images/hobbies5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo6{
  background: url("images/hobbies6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo7{
  background: url("images/gallery1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo8{
  background: url("images/gallery2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo9{
  background: url("images/gallery3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo10{
  background: url("images/gallery4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo11{
  background: url("images/hobbies4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo12{
  background: url("images/gallery6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo13{
  background: url("images/gallery7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo14{
  background: url("images/gallery8.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo15{
  background: url("images/gallery9.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo16{
  background: url("images/gallery10.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo17{
  background: url("images/hobbies1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo18{
  background: url("images/gallery12.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo19{
  background: url("images/gallery13.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo20{
  background: url("images/gallery14.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo21{
  background: url("images/gallery15.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo22{
  background: url("images/gallery16.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo23{
  background: url("images/gallery17.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo24{
  background: url("images/gallery18.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo25{
  background: url("images/gallery19.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo26{
  background: url("images/hobbies3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo27{
  background: url("images/gallery21.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#post-profile{
  align-items: center;
  margin-left: 5.625px;
  margin-top: 10px;
  height: 40px;
  width: 292px;
  display: flex;
  flex-direction: row;
    box-shadow: 
  1.5px 1.5px 0.75px rgba(0, 0, 0, 0.55),
  -1.5px  -1.5px 0.75px rgba(255, 255, 255, 0.7);
}

.post-pfp{
  margin-right: 11.25px;
  margin-left: 11.25px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: url("images/pfp.jpg");
  background-size: contain;
}

#post-profile p{
  font-family: sans-serif;
  font-size: 12px;
}

.post-profile-btn {
  all: unset;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 37.5px;
  height: 22.5px;
  background-color: #ebeaea;
  box-shadow: 
    1.5px 1.5px 0.75px rgba(0, 0, 0, 0.55),
    -1.5px -1.5px 0.75px rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: 7.5px;
  cursor: pointer;
}

.post-img{
  height: 292.5px;
  width: 292.5px;
  margin: 11.25px;
    box-shadow: 
    1.5px 1.5px 0.75px rgba(0, 0, 0, 0.55),
    -1.5px -1.5px 0.75px rgba(255, 255, 255, 0.7);
}
