/* Font Butterfly Kids */
    .butterfly-kids-regular {
        font-family: "Butterfly Kids", cursive;
        font-weight: 400;
        font-style: normal;
    }

    /* Font Bagel */
    .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    }
A
  .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    body, html {
      position:relative;
      padding: 0;
      font-family: monospace;
      background: url('images/bggrid-transp.png') repeat center;
      background-color: #ffeef4;
      scrollbar-color: #e5aff0 transparent;
    }

    .header, .footer {
      height: 230px;
      width: 100%;
      color: transparent;
    }
    .header { position: relative; top: 0; }
    .footer { position: absolute; top: 1000px; height: 200px;}


    .wrapper {
      left: 50%;  
      transform: translateX(-50%);
      width: 420px; height: 690px;
      background: #ebeaea;
      box-shadow: 
      2px 2px 1px rgba(0, 0, 0, 0.55),
      -2px  -2px 1px rgba(255, 255, 255, 0.7);
      z-index: 0;
      position: relative;
      scrollbar-color: #00000062 transparent;
      scrollbar-width: thin; 
      overflow: hidden; 
    }


    .box {
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      overflow: visible;
    }

  .nav-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 7px;
    position: relative; /* create new stacking context */
    z-index: 5;         /* above the GIFs */
  }

  .nav-button {
    all: unset;
    width: auto;
    height: 40px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    z-index: 6;
  }

  .nav-button:hover{
    font-weight: bold;
  }

  .navigation-bar{
    width: 410px;
    padding: 5px;
  }

  #title{
    display: flex;
    flex-direction: row;
    height: 20px;
    background-color: #fff0f7;
  }

  #title p{
    text-indent: 10px;
    margin: 5px 0 5px 0;
  }

  #navigation{
    width: 395px;
    margin-left: 7px;
    height: 30px;
    border-bottom: solid #9e9c9c;
  }

  .nav-button u{
    margin: 0;
  }

  .titlebtns{
    align-items: center;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 70px;
    right: 0px;
    height: 20px;
    gap: 6px;
    cursor: pointer;
  }

  .titlebtn {
    display: flex;
    align-items: center;   /* vertical centering */
    text-align: center;
    margin: 0;
    justify-content: center; /* horizontal centering */
    background: #ebeaea;
    width: 17px;
    height: 17px;
    box-shadow: 
      -2px -2px 1px rgba(0, 0, 0, 0.55) inset,
      2px  2px 1px rgba(255, 255, 255, 0.7) inset;
    font-size: 10px;
  }

  .titlebtn p{
    margin: 0;
  }

  .profile{
    font-family: "Roboto Mono";
    height: 250px;
    width: 410px;
    padding: 5px;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(8, 51px);
    grid-template-rows: repeat(5, 50px);
  }

  .profile p{
    margin: 0;
    font-size: 12px;
  }

  .usrname{
    grid-area: 1 / 2 / 2 / 3;
  }

  .pfp{
    grid-area: 1 / 1 / 3 / 4;
    margin: 20px 20px 20px 25px;
    border-radius: 50%;
    background: url(images/pfp.jpg);
    background-size: contain;
    height: 90px;
    width: 90px;
  }

  .followers{
    grid-area: 1 / 4 / 3 / 9;
    margin: 30px 20px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .follower-count{
    font-size: 14px;
    text-align: center;
  }

  .follower-count p{
    margin: 0;

  }

  .bio{
    grid-area: 3 / 1 / 5 / 9;
    margin: 30px 10px 10px 15px;
  }
  
  .bio p{
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .follow-btns{
    grid-area: 5 / 1 / 6 / 9;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .follow-btn{
    width: 180px;
    height: 30px;
    box-shadow: 
      -2px -2px 1px rgba(0, 0, 0, 0.55) inset,
      2px  2px 1px rgba(255, 255, 255, 0.7) inset;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #following{
    background-color: #cccfd3;
  }

  .follow-btns p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .box {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 3px;
    overflow: visible;
  }

  .content{
    margin: 10px 10px 20px 10px;
    height: 280px;
    display: grid;
    scrollbar-color: #c0c0c0 transparent;
    scrollbar-width: thin; 
    overflow: auto; 
    grid-template-columns: repeat(3 , 129px);
    grid-template-rows: repeat(14, 130px);
  }


  
.music-name,
  .artist-name{
    height: 17px;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    margin: 8px 10px 10px 10px;
  }

  .song-slider {
    position: relative;
    width: 200px;
    height: 20px;
  }

  .seek-bar {
    position: absolute;
    left: 48px;
    top: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    overflow: hidden;
    height: 5px;
    border-radius: 10px;
    background-color: #bebebe;
    cursor: pointer;
    z-index: 6;
  }

  .seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 5px;
    height: 15px;
    background: #777777;
    box-shadow: -400px 0 0 400px #3d3d3d;
  }

  .current-time,
  .song-duration {
    width: 280px;
    position: absolute;
    margin: none;
    top: 10px;
    font-size: 10px;
  }

  .song-duration{left: 140px;width: 40px;}
  .current-time{left: 0px;}

  .controls{
    width: 70px;
    display: flex;
    align-items: center;
  }

  .play-button{
    position:relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ebeaea;
    cursor: pointer;
    border: none;
  }

  .play-button span{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    width: 5px;
    height: 12px;
    border-radius: 1px;
    background: #885c44;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-button span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-button.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-button.pause span:nth-child(1){
    width: 35%;
    height: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


.btn{
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #ebeaea;
}

#forwardbutton{
    position: absolute;
    height: 15px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#backbutton{
    position: absolute;
    height: 15px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#song-bar{
  box-shadow: 
  -2px -2px 2px rgba(0, 0, 0, 0.25) inset,
  2px  2px 2px rgba(255, 255, 255, 0.45) inset;
  margin-left: 10px;
  margin-right: 10px;
  width: 390px;
  display: flex;
  flex-direction: row;
}

.marquee{
  overflow: hidden;
  position: relative;
  left: 0px;
  width: 120px;
}

#marquee-content p{
  display: inline;
  margin: 8px 0 10px 0 ;
}

.marquee-content {
  transform: translateX(70%);
  position:relative;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 1rem;
  width: 340px;
  animation: marquee-move-text 100s linear infinite;
  animation-play-state: paused;
}

.marquee-content.play{
  animation-play-state: running;
}

button.backwardbutton,
button.forwardbutton{
  z-index: 9;
}

@keyframes marquee-move-text{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-1000%);
  }
}


.hidden {
  display: none;
}

.post {
  position: absolute;
  left: 50%;  
  top: 230px;
  min-height: 690px;
  max-height: none;
  transform: translateX(-50%);
  width: 420px; height: 690px;
  background: #ebeaea;
  box-shadow: 
  2px 2px 1px rgba(0, 0, 0, 0.55),
  -2px  -2px 1px rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  opacity: 0;
  pointer-events: none;
}

.post.visible {
  opacity: 1;
  pointer-events: auto;
  
}

.post.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.post-content {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

#post-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.close-post {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #444;
}

#photo1{
  background: url("images/galleryq.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo2{
  background: url("images/gallery11.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo3{
  background: url("images/galleryc.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo4{
  background: url("images/galleryd.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo5{
  background: url("images/galleryb.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo6{
  background: url("images/galleryf.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo7{
  background: url("images/galleryg.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo8{
  background: url("images/galleryh.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo9{
  background: url("images/galleryi.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo10{
  background: url("images/galleryj.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo11{
  background: url("images/galleryk.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}


#photo12{
  background: url("images/IMG_2323.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo13{
  background: url("images/hobbies2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo14{
  background: url("images/gallery20.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo15{
  background: url("images/gallery5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo16{
  background: url("images/hobbies5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo17{
  background: url("images/hobbies6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo18{
  background: url("images/gallery1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo19{
  background: url("images/gallery2.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo20{
  background: url("images/gallery3.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo21{
  background: url("images/gallery4.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo22{
  background: url("images/hobbies4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo23{
  background: url("images/gallery6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo24{
  background: url("images/gallery7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo25{
  background: url("images/gallery8.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo26{
  background: url("images/gallery9.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo27{
  background: url("images/gallery10.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo28{
  background: url("images/hobbies1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo29{
  background: url("images/gallery12.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo30{
  background: url("images/gallery13.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo31{
  background: url("images/gallery14.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo32{
  background: url("images/gallery15.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo33{
  background: url("images/gallery16.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo34{
  background: url("images/gallery17.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo35{
  background: url("images/gallery18.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo36{
  background: url("images/gallery19.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo37{
  background: url("images/hobbies3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo38{
  background: url("images/gallery21.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo39{
  background: url("images/gallerym.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo40{
  background: url("images/galleryr.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

#photo41{
  background: url("images/galleryo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}


#post-profile{
  align-items: center;
  margin-left: 7.5px;
  height: 60px;
  margin-top: 10px;
  width: 395px;
  display: flex;
  flex-direction: row;
    box-shadow: 
  2px 2px 1px rgba(0, 0, 0, 0.55),
  -2px  -2px 1px rgba(255, 255, 255, 0.7);
}

.post-pfp{
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: url("images/pfp.jpg");
  background-size: contain;
}

#post-profile p{
  font-family: sans-serif;
  font-size: medium;
}

.post-profile-btn {
  all: unset;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  background-color: #ebeaea;
  box-shadow: 
    2px 2px 1px rgba(0, 0, 0, 0.55),
    -2px -2px 1px rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.post-img{
  height: 390px;
  width: 390px;
  margin: 15px 15px 5px 15px;
    box-shadow: 
    2px 2px 1px rgba(0, 0, 0, 0.55),
    -2px -2px 1px rgba(255, 255, 255, 0.7);
}

#post-interact{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin: 0 2px 0 20px;
  gap: 0px;
}

.interactbtn{
  font-size: 18px;
  color: #3d3d3d;
  font-family: "Roboto Mono";
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 35px;
  box-shadow: 
    2px 2px 1px rgba(0, 0, 0, 0.55),
    -2px -2px 1px rgba(255, 255, 255, 0.7);
}

.interactbtn p{
  margin: 6px 0;
}

.description p{
  margin: 2px;
  text-indent: 12px;
  font-size: 14px;
}

#descriptiondata{
  font-size: 11px;
  color: #444;
}

#post-footer{
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 92%;
  box-shadow: 
  2px 2px 1px rgba(0, 0, 0, 0.55),
  -2px -2px 1px rgba(255, 255, 255, 0.7);
  margin: 10px 12px 0px 12px;
  bottom: 10px;
}

#post-footer p{
  font-size: 16px;
  margin: 0 0 15px 0;
  line-height: 16px;
}