/* Font Butterfly Kids */
    .butterfly-kids-regular {
        font-family: "Butterfly Kids", cursive;
        font-weight: 400;
        font-style: normal;
    }

  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 100;
    font-style: normal;
  }

    .lexend-giga {
      font-family: "Lexend Giga", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }

    /* Font Bagel */
    .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    }

  .sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    body, html {
      position:relative;
      padding: 0;
      font-family: monospace;
      background: url('images/bggrid-transp.png') repeat center;
      background-color: #eef7ff;
      scrollbar-color: #f0afcd transparent;
    }

    .header, .footer {
      height: 270px;
      width: 100%;
      color: transparent;
    }
    .header { position: relative; top: 0; }
    .footer { position: absolute; top: 1000px; height: 200px;}


    .wrapper {
      left: 50%;  
      transform: translateX(-50%);
      width: 840px; height: 610px;
      border-radius: 10px;
      border: solid #adb7ca 2px;
      background: #ffffff;
      box-shadow: -10px 10px 10px rgba(0,0,0,0.25);
      padding: 10px;
      z-index: 0;
      position: relative;
    }

  .nav-buttons {
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    position: relative; /* create new stacking context */
    z-index: 5;         /* above the GIFs */
  }

  .nav-button {
    all: unset;
    width: 110px;
    height: 40px;
    background-image: url('images/pinknavbutton.png');
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: "Fuzzy Bubbles", monospace;
    font-size: 16px;
    cursor: pointer;
    text-indent: 14px;
    position: relative;
    z-index: 6;
  }

  .lace-divider {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url('images/lacedivider.png') repeat-x;
    z-index: 0;
  }


  .main-footer{
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    position: absolute;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height:100px;
    width: 100%;
    bottom:0;
    left:0px;
    z-index: 4;
  }

  .main-footer-div{
    position: absolute;
    background-repeat: repeat-x;
    background-image: url('images/strawberrydivider.png');
    height: 80px;
    width: 100%;
    bottom:0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .navigation-bar{
    margin-bottom: 5px ;
    height: 30px;
    width: 99%;
    border: solid #b1b8c8 2px;
    box-shadow: inset;
  }

.hearts {
  width: 100px;
  text-align: right;
  font-size: 16px;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: #703c4a;
  max-width: 1140px; /* adjust if needed */
  margin-left: 1%;
}

.music-name,
  .artist-name{
    height: 17px;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    margin: 8px 10px 10px 10px;
  }

  .song-slider {
    position: relative;
    width: 200px;
    height: 20px;
  }

  .seek-bar {
    position: absolute;
    left: 48px;
    top: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 190px;
    overflow: hidden;
    height: 5px;
    border-radius: 10px;
    background-color: #b1c5f1;
    cursor: pointer;
    z-index: 6;
  }

  .seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 15px;
    background: #613d2a;
    box-shadow: -400px 0 0 400px #885c44;
  }

  .current-time,
  .song-duration {
    width: 280px;
    position: absolute;
    margin: none;
    top: 10px;
    font-size: 10px;
  }

  .song-duration{left: 250px;width: 40px;}
  .current-time{left: 0px;}

  .controls{
    width: 90px;
    display: flex;
    align-items: center;
  }

  .play-button{
    position:relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffff;
    cursor: pointer;
    border: none;
  }

  .play-button span{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    width: 5px;
    height: 12px;
    border-radius: 1px;
    background: #885c44;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-button span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-button.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-button.pause span:nth-child(1){
    width: 35%;
    height: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


.btn{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #ffff;
}

#forwardbutton{
    position: absolute;
    height: 15px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#backbutton{
    position: absolute;
    height: 15px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#song-bar{
  display: flex;
  flex-direction: row;
}

.marquee{
  overflow: hidden;
  position: relative;
  left: 130px;
  width: 340px;;
}

#marquee-content p{
  display: inline;
  margin: 8px 0 10px 0 ;
}

.marquee-content {
  transform: translateX(70%);
  position:relative;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 1rem;
  width: 340px;
  animation: marquee-move-text 100s linear infinite;
  animation-play-state: paused;
}

.marquee-content.play{
  animation-play-state: running;
}

button.backwardbutton,
button.forwardbutton{
  z-index: 9;
}

@keyframes marquee-move-text{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-1000%);
  }
}

  #hobbies-main {
      grid-area: 4 / 1 / 10 / 9;
      margin: 20px 30px 60px 30px;
      background: #ffffff;
      border: solid #b1b8c8 2px;
      padding: 5px;
      box-shadow: 0px 0px 10px 5px rgba(246, 67, 151, 0.2);
    }

  .hobbies-wrapper{
    position: relative;
    width: 99%;
    height: 490px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(17, 50px);
    grid-template-rows: repeat(10, 49px);
    border: solid #b1b8c8 2px;
  }

  [data-tab-content] {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  }

  [data-tab-content].active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }


  .tabs{
    font-family: "Lexend Giga";
    align-items: center;
    text-align: center;
    height: 35px;
    width: 690px;
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0px 10px 0 0px;
    padding: 0%;
  }

  .tab{
    font-size: 12px;
    color: #703c4a;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 30px;
    border-radius: 15px 15px 0 0 ;
    box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.466) inset;
    background: #c5d0d8;
  }

  .tab p, .tab.active p{
    margin: 9px;
  }

  .tab:hover{
    background: #dee7ed;
  }

  .tab.active{
    background: #cde6f7;
  }


.hobbies-sidebar{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 4px 0 8px;
  grid-area: 1 / 1 / 11 / 6;
  background-color: #e4efff;
  display: grid;
  border-right: solid #b1b8c8 2px;
  grid-template-columns: repeat(6, 40.6px);
  grid-template-rows: repeat(12, 40.8px);
}

.hobbyimg{
  margin: 3px;
}

#sidebar-heading{
  text-indent: 10px;
  grid-area: 1 / 1 / 2 / 7;
  font-family: sans-serif;
  margin-top: 10px;
}

#hobby1{
  background: url(images/hobbies1.jpg);
  background-size: contain;
  grid-area: 2 / 1 / 4 / 3;
}
#hobby2{
  background: url(images/hobbies2.jpg);
  background-size: contain;
  grid-area: 2 / 3 / 4 / 5;
}
#hobby3{
  background: url(images/hobbies3.jpg);
  background-size: contain;
  grid-area: 2 / 5 / 4 / 7;
}
#hobby4{
  background: url(images/hobbies4.jpg);
  background-size: contain;
  grid-area: 4 / 1 / 6 / 3;
}
#hobby5{
  background: url(images/hobbies5.jpg);
  background-size: contain;
  grid-area: 4 / 3 / 6 / 5;
}
#hobby6{
  background: url(images/hobbies6.jpg);
  background-size: contain;
  grid-area: 4 / 5 / 6 / 7;
}


.hobbies-content{
  padding: 1px 0px 10px 30px;
  overflow-x:hidden;
  margin:5px 25px 5px 5px;
  grid-area: 1 / 6 / 11 / 18;
  scrollbar-color: #c0c0c0 transparent;
  scrollbar-width: thin; 
  overflow-y: auto; 
}

.nav-buttons {
  top: 2px;
  margin-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  gap: 0px;
  position: relative; /* create new stacking context */
  z-index: 5;         /* above the GIFs */
}

.nav-button{
  all: unset;
  position:relative;
  color: #703c4a;
  text-align: center;
  text-decoration: none; /* Remove underline */
  font-weight: bold;     /* Make it bold */
  font-size: 15px;       /* Set font size */
  font-family: sans-serif;
}

.nav-button p{
  margin: 5px;
}

.nav-button:hover{
  cursor: pointer;
}

.nav-button::after {
  content: "|";
  margin: 0 10px;
  color: #703c4a; /* match button text color */
}

.nav-button:last-child::after {
  content: "";
}

.belowphotos p{
  margin: 5px 0 5px 0;
}

.belowphotos{
  grid-area: 6 / 1 / 8 / 7;
  margin: 5px;
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: solid #c8b1bc 2px;
}

.about{
  grid-area: 8 / 1 / 12 / 7;
  font-family: sans-serif;
}

.belowphotos a:visited{
  color: #000000;
}

.about p{
  font-size: 12px;
  line-height: 20px;
}

.totorogif{
  grid-area: 12/ 6 / 13 / 7;
  margin-bottom: 10px;
  background: url('images/totoro.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.hobbies-content-inner{
    height: 2925px;
    width: 525px;
    display: grid;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(50, 75px);
}

.si{
  grid-area: 3 / 4 / 5 / 8;
  width: 300px;
  background: url("images/si.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 3;;
}

.si-memopad{
  grid-area: 1 / 1 / 5 / 6;
  background: url("images/notecars.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

#si-title{
  grid-area: 1 / 5 / 3 / 8;
  font-family: "Major Mono Display", monospace;
  z-index: 4;
  font-size: 40px;
  margin: 20px
}

#si-memopad-about{
  align-items: center;
  justify-content: center;
  margin: 110px 60px 0px 70px;
  transform: rotate(-6deg);
}

.si-done{
  grid-area: 5 / 3 / 9 / 8;
  background: url("images/simemo.jpg");
  background-size: contain;
  background-position-x: left;
  background-repeat: no-repeat;
}

.si-todo{
  grid-area: 7 / 1 / 11 / 5;
  background: url("images/stickynote.png");
  background-size: contain;
  background-position: center;
  background-position-x: left;
  background-repeat: no-repeat;
}

.crab{
  grid-area: 3 / 2 / 6 / 4;
  background: url("images/bluecrab.png");
  background-size: contain;
  background-position: center;
  margin-top: 60px;
  background-position-x: right;
  background-repeat: no-repeat;
  z-index: 4;
  width: 200px;
}

#si-done{
  text-align: center;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  margin: 70px 60px 0px 60px;
}

#si-todo{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px 50px 0px 0px;
}

.shell{
  background: url("images/shell.png");
  background-size: contain;
  background-position: center;
  grid-area: 5 / 1 / 7 / 3;
  z-index: 6;
  background-repeat: no-repeat;
}

.jelly{
  grid-area: 8 / 4 / 11 / 8;
  background: url(images/bluejelly.png);
  transform: rotate(70deg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
}

.slideshow-container{
    grid-area: 11 / 1 / 16 / 8;
    margin: 0px 20px 0 10px;
    background: url(images/slideshowbackground.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow-container-inner{
  width: 416px;
  height: 264px;
  left: 10px;
  top: 45px;
  margin: 0px 0px 0px 37px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: #ccdaf7;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  left: -2%;
  font-size: 10px;
  padding: 8px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -20%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.accord{
  grid-area: 24 / 1 / 28 / 6;
  background: url(images/accord.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  margin-top: 30px;
  z-index: 5;
}

.accordmemo{
  grid-area: 23 / 5 / 29 / 8;
  background:url(images/accordmemo.png);
  background-size: contain;
  background-position: center;
  overflow: visible;
  background-repeat: no-repeat;
}

.shark{
  grid-area: 23 / 4 / 25 / 7;
  margin: 20px 0 0 20px;
  background: url(images/shark.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.si-2012-title{
  grid-area: 16 / 1 / 17 / 5;
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
}

.si2{
  grid-area: 16 / 3 / 20 / 9;
  background: url('images/si2012.png');
  background-size: contain;
  transform: rotate(2deg);
  margin: 0px 20px 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.fishbowl{
  background: url('images/fishbowl.png');
  grid-area: 15 / 6 / 18 / 8;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  transform: rotate(6deg);
  margin-top: 25px;
}

.clipboard{
  grid-area: 18  / 1 /22 / 6;
  background: url(images/clipboard.png);
  margin: 10px 50px;
  transform: rotate(-2deg);
  background-size: contain;
  background-repeat: no-repeat; 
}

.accord-title{
  grid-area: 23 / 1 / 25 / 5;
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
}

.accord-title p{
  margin: 40px 0px 0px 20px;
}

.accord-memo-inner{
   grid-area: 23 / 5 / 29 / 8;
   transform: rotate(4deg);
   margin: 120px 20px 0 50px;
   align-items: center;
}

.accord-memo-inner p{
  font-size: 12px;
}

.accord-todo-img{
  grid-area: 27 / 1 / 30 / 3;
  margin-top: 30px;
  margin-left: 20px;
  width: 130px;
  background-image: url(images/shark2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.accord-done-img{
  grid-area: 29 / 6 / 32 / 8;
  height: 150px;
  margin-top: 10px;
  margin-left: 20px;
  background-image: url(images/surprisegirl.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.accord-memo2{
  padding: 140px 20px 20px 20px;
  grid-area: 28 / 2 / 34 / 7;
  background: url(images/accordmemo2.jpg);
  background-size: contain;
  background-position: center;
  font-family: "Major Mono Display", monospace;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.toastcat{
  grid-area: 33 / 1 / 35 / 3;
  background: url(images/cattoast.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#frs-title{
  grid-area: 34 / 3 / 35 / 7;
  margin: 10px;
  margin-top: 30px;
  font-size: 35px;
  font-family: "Major Mono Display", monospace;
} 

.frs-memo{
  grid-area: 35 / 1 / 40 / 5;
  background: url(images/frsmemo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  z-index: 1;
  margin-left: 20px;
}

#frs{
  font-family: "Major Mono Display", monospace;
  font-size: 15px;
  margin: 70px 60px 0px 30px;
}

.frs1{
  grid-area: 35 / 4 / 38 / 8;
  background: url(images/frs.png);
  background-size: contain;
  background-position: center;
  margin-top: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
  z-index: 2;
}

.frs2{
  grid-area: 37 / 4 / 40 / 8;
  background: url(images/frs2.png);
  background-repeat: no-repeat;
  z-index: 2;
  background-size: contain;
  background-position: center;
  margin-top: 20px;
  margin-left: 20px;
}

.whale{
  grid-area: 40 / 1 / 43 / 4;
  background: url(images/whale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(10deg);
}

#cayman-title{
  font-family: "Major Mono Display", monospace;
  grid-area: 40 / 4 / 41 / 8;
  margin: 30px;
  font-size: 36px;
  z-index: 3;
}

.cayman{
  grid-area: 42 / 4 / 45 / 8;
  background: url(images/cayman.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cayman-memo{
  grid-area: 41 / 1 / 46 / 5;
  background: url(images/caymanmemo.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cayman-memo p{
  text-align: center;
  margin: 110px 75px 0 40px;
  z-index: 5;
}

.shells{
  display: flex;
  flex-direction: row;
  height: 67px;
  gap: 15px;
  grid-area: 46 / 1 / 47 / 8;
}