    .lexend-giga {
      font-family: "Lexend Giga", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }

    /* Font Bagel */
    .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    }

  .oxanium {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  
  .tektur{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }

    body, html {
      position:relative;
      padding: 0;
      font-family: monospace;
      background: url('images/grid-transparentbg.png') repeat center;
      background-color: #000000;
      scrollbar-color: #f0afcd transparent;
    }

    .header, .footer {
      height: 180px;
      width: 100%;
      color: transparent;
    }
    .header { position: relative; top: 0; }
    .footer { position: absolute; top: 1050px; height: 200px;}


    .wrapper {
      display: flex;
      flex-direction: row;
      left: 50%;  
      transform: translateX(-50%);
      width: 960px; height: 800px;
      background: transparent;
      box-shadow: -10px 10px 4px rgba(0,0,0,0.25);
      z-index: 0;
      position: relative;
      border: solid 1px rgba(147, 161, 132, 0.568);
    }

    .box {
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: visible;
    }

    #box1 {
        grid-area: 1 / 1 / 4 / 9;
    }

    .navigation {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
  }

  .nav-buttons {
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 70px;
    position: relative; /* create new stacking context */
    z-index: 5;         /* above the GIFs */
  }

  .nav-button {
    all: unset;
    width: auto;
    height: 40px;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #75d485;
    font-size: 16px;
    font-family: "Oxanium";
    cursor: pointer;
    text-indent: 20px;
    position: relative;
    z-index: 6;
  }

  .nav-button:hover{
    cursor: pointer;
    font-weight: bold;
  }


  #pimage2{
    background:url(images/metrology.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  } 

  #pimage3{
    background:url(images/nightlight.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  } 

  p{margin-bottom: 0%;}

.column1{
  margin: 5px 2px 5px 5px;
  position: relative;
  width: 40%;
  height: 99%;
  background: #181818e0;
} 

.column2{
  margin: 5px 2px 5px 5px;
  position: relative;
  width: 60%;
  height: 99%;
}

.navigation-bar{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px ;
  background-color: #75d485;
  height: 40px;
  width: 99%;
  box-shadow: 2px 2px 10px 0px rgba(51, 255, 0, 0.55);
}



.mySlides {
  display: none; /* overridden by JS when shown */
  width: 100%;
  height: 100%;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}

.mySlides.show {
  display: flex;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: #000000;
  position: absolute;
  top: 95%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 6;
}

/* Position the "next button" to the right */
.next {
  left: 345px;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  left: -2%;
  font-size: 10px;
  padding: 8px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -20%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#project-name{
  position: absolute;
  font-family: "Oxanium";
  font-size: 30px;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 50px;
  bottom: 0;
  text-align: center;
  z-index: 3;
}

#project-name p{
  animation: slideFadeIn 0.6s forwards;
  margin-top: 9px;
}

#minimize{
  position: absolute;
  margin: 0;
  width: 30px;
  height: 30px;
  font-weight: 800px;
  font-size: 30px;
  right: 9px;
}

#minimize p{
  margin: 0;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#bar1{
  font-family: "Oxanium";
  font-size: 25px;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7px;
  text-indent: 8px;
}

.c2b1, 
.c2b2, 
.c2b3,
.c2b4{
  display: flex;
  flex-direction: row;
  background: #181818e0;
  margin: 6px 10px 7px 0;
}

.c2b1{
  width: 80%;
  height: 500px;
  padding: 5px 55px;
}

.c2b2{
  width: 99%;
  height: 73px;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}

#ptitle{
  animation: slideFadeIn 0.6s forwards;
  font-family: "Oxanium";
  font-size: 25px;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7px;
  text-indent: 8px;
}

ul{
  animation: slideFadeIn 0.6s forwards;
  list-style-type: "▼";
  padding: 0;
}

li{
  text-indent: 10px;
  animation: slideFadeIn 0.6s forwards;
  font-family: "Tektur", sans-serif;
  font-size: 17px;
  margin: 5px;
  color: white;
}

.ul-indent{
  animation: slideFadeIn 0.6s forwards;
  padding-left: 25px;
  list-style-type: "▶";
}

.li-indent{
  animation: slideFadeIn 0.6s forwards;
  text-indent: 15px;
  font-family: "Tektur", sans-serif;
  font-size: 13px;
  color: rgb(187, 187, 187);
}

#straingauge{
  height: 742px;
  opacity: 50%;
  animation: slideFadeIn 0.6s forwards;
}

#nightlight{
  height: 730px;
  opacity: 50%;
  animation: slideFadeIn 0.6s forwards;
}

#metrology{
  width: 377px;
  opacity: 50%;
  animation: slideFadeIn 0.6s forwards;
}

#robot{
    height: 730px;
    opacity: 50%;
    animation: slideFadeIn 0.6s forwards;
}

.slidecontainer {
  width: 90%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  margin: 5px;
  background: transparent;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: solid 2px #dddddd;
  animation: slideFadeIn 0.6s forwards;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #75d485;
  cursor: pointer;
  animation: slideFadeIn 0.6s forwards;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #75d485;
  cursor: pointer;
  animation: slideFadeIn 0.6s forwards;
}

.slidecontainer p{
  margin-top: 2px;
  font-family: "Oxanium";
  color: #dddddd;
}